<html>
    <head>
        <title>Psa Time Tracker</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </head>
    <body>
        <h1 class="mb-5 ml-5">Psa Timetracker</h1>
        <form action="{% url 'psatimetracker:completeTaskHours' %}" method="post" style="width: 70%; align-self: center;" class="m-5">
            {% csrf_token %}

            <div class="form-group">
                <label for="projectSelect">Proyecto</label>
                <select class="form-control" id="projectSelect" name="project">
                    {% for project in projects %}
                        <option value="{{project.id}}">{{ project.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="devSelect">Desarrollador</label>
                <select class="form-control" id="devSelect" name="developer">
                    {% for dev in developers %}
                        <option value="{{dev.id}}">{{ dev.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="taskSelect">Tarea</label>
                <select class="form-control" id="taskSelect" name="task">
                    {% for task in tasks %}
                        <option value="{{task.id}}">{{task.project.name}} - {{ task.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="hours">Horas </label>
                <input class="form-control" id="hours" type="number" min="1" value="1" name="hours">
            </div>

            <div class="form-group">
                <label for="hours">Fecha </label>
                <input class="form-control" type="date" id="datePicker" name="date" required>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>


            {% if success %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Exito! </strong> Las horas se cargaron a la tarea
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            {% if error %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Error! </strong> {{error}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}

        </form>
    </body>

    <script>
        document.getElementById('datePicker').valueAsDate = new Date();
    </script>
</html>
